@font-face {
    font-family: 'iconfont';  /* project id 372890 */
    src: url('//at.alicdn.com/t/font_fr76ynrisjgx2yb9.eot');
    src: url('//at.alicdn.com/t/font_fr76ynrisjgx2yb9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_fr76ynrisjgx2yb9.woff') format('woff'),
    url('//at.alicdn.com/t/font_fr76ynrisjgx2yb9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_fr76ynrisjgx2yb9.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:20px;
    font-weight:bolder;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.clearfix{overflow:hidden;_zoom:1;}
*{
    margin:0;
    padding: 0;
    font-family: "Microsoft YaHei";
}
ul,ol{
    list-style: none;
}
body{
    background: #ccc;
    color: #ffffff;
    font-size: 12px;
}
a{
    text-decoration: none;
}
#music{
    width: 350px;
    height: 430px;
    margin:0 auto;
    background-color: rgba(0,0,0,.9);
    position: absolute;
    /*top:50%;*/
    left: 50%;
    transform: translate(-50%,0);
    user-select: none;
    border-radius: 5px;
}
#music .header{
    border-bottom: 1px solid #fff;
}
#music .header ul li{
    float: left;
    margin: 10px 0 10px 20px;
    height: 32px;
}
#music .header ul li:nth-child(2){
    width: 180px;
}
#music .header ul li:last-child{
    float: right;
    margin-right: 20px;
}
#music .icon-gongneng,#music .musicName,#music .icon-fenxiang{
    color: #ffffff;
}
#music .musicName{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
#music .author{
    color: #ccc;
    font-size: 12px;
}
.main{
    position: relative;
    padding: 20px 30px;
    height: 243px;
    overflow: hidden;
}
.main .needle{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 10;
    top: -7px;
    left:62%;
    background: url("../img/needle.png") no-repeat left center;
    background-size: contain;
    transition:0.5s;
    transform: rotate(-3deg);
}
#music .needle-move{
    transform-origin: 26px -3px ;
    transform: rotate(-18deg);
}
.main .picture{
    text-align: center;
}
.main .picture img{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #000;
    box-shadow: 0 0 5px 1px #333;
    animation: spin 60s linear infinite;
}
#music .img-stop{
    animation-play-state: paused;
}
@keyframes spin {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
#music .stopSpin{
    animation-play-state: paused;
}
#music .button-groups ul{
    text-align: center;
}
#music .button-groups ul li{
    display: inline-block;
    padding: 0 20px;
}
#music .button-groups .iconfont{
    font-size: 18px;
    color: #999;
}
#music .button-groups ul li .like.active{
    color: red;
}
#music .button-groups ul li .xiazai.active,#music .button-groups ul li .xunhuan.active,#music .button-groups ul li .geci.active{
    color: #fff;
}
#music .controller ul{
    padding-left: 20px;
    padding-top: 18px;
}
#music .controller ul li{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
#music .controller ul li.next-top{
    margin-top: 8px;
}
#music .controller ul li.bar-top{
    margin-top: 18px;
}
#music .controller .iconfont.next{
    color: #fff;
    font-size: 25px;
}
#music .controller .iconfont.play{
    color: #fff;
    font-size: 35px;
}
#music .controller .progress-bar{
    width: 200px;
    height: 6px;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}
#music .controller .progress-bar .color-bar{
    display: block;
    height: 6px;
    width: 0;
    border-radius: 5px;
    background-color: #D52B2B;
    position: relative;
}
#music .controller .progress-bar .color-bar .circle{
    content:'';
    display: block;
    width: 5px;
    height: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: -3px;
    right: 0;
    z-index: 11;
}
#music .main .topList{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    background-color: #F7F7F7;
    color: #000000;
    cursor: pointer;
    z-index: 12;
}
#music .main .topList .chanelList{
    height: 200px;
    overflow-y:scroll;
}
#music .main .topList li{
    padding-left: 20px;
    line-height: 20px;
    white-space: nowrap;
}
#music .main .topList li:hover{
    background-color: #333333;
    color: #ffffff;
}
#music .main .lyric{
    height: 243px;
    overflow: hidden;
    position: relative;
}
#music .main .lyric .lyric-list{
    width: 290px;
    text-align: center;
    position: absolute;
}
#music .main .lyric li{
    text-align: center;
    color: #ccc;
    padding: 10px;
}
#music .main .lyric li.active{
    font-size: 14px;
    color: #fff;

}

